*{
border : 1 px solid red ;
}


p {
  color: green;
}



.title{
  color : teal ;
}

.uppercase{
  text-transform : uppercase ;
}

h1#article-title {
  font-family:cursive;
}

a [ href *= ’florence’] {
  color : lightgreen ;
  }
